* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
}

#begin {
    visibility: hidden;
}

li {
    display: inline-block;    
}

@font-face {  /*Fonte externa.*/
    font-family: 'futura-lt-bold';
    src: url('futura-bold-bt.ttf') format('truetype');
    font-style: normal;
}

@font-face {  /*Fonte externa.*/
    font-family: 'futura-lt-book';
    src: url('FuturaLT-Book.ttf') format('truetype');
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

/*-------------------------------------HEADER-------------------------------------------------- */

.menu {
    font-family: 'futura-lt-book';
    color: #fff;
    background-image: url(imagens/bg_institucionalInterno.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 600px; /*é o que faz o background ficar com width 100% */
    max-height: 600px;
    min-height: 428px;
}

.menu h1 {
    font-weight: normal;  /*Configurando a fonte para ficar do jeito original. */
    width: 62.5%;
    font-size: 4.609rem; /*rem é bom para responsividade, pois é um tamanho acumulativo*/
    letter-spacing:-.035em;    
}

.nav-main {
    height: 139px;
    margin-left: 113px;
    max-width: 1714px;
}

/*Iteração em todos os links do Header */
.sublinhado:hover{
    border-bottom: 1px solid #ffffff;
}

.logo {
   position: absolute;
   left: 12.28px;
}

.nav-one {
    position: relative;
    left: -6px;
    background-color: #0065b7;
    width: 41%;
    height: 100px;
    padding: 30px 0px 0px 0px;
}

.nav-list1 a {
    font-family: sans-serif;
    font-size:1.1em;     
}

.divisor {
    margin-left: 15px;
    margin-right: 15px;
    height: 18px;
    border-left: 2px solid #f7941e;          
}

.divisor-esp {
    margin-left: 18px;
    margin-right:13px;
    height: 18px;
    border-left: 2px solid #f7941e;
}

.nav-two  {
    font-size: 13px;
    font-family:sans-serif;
    top: 20px;
    width: 535px;
    position: absolute;
    right: 5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.nav-two li {
    margin-left: 7px;
    margin-right: 7px;
}

.RI-corrigir {
    margin-right: 0px !important;
}

.EN-corrigir {
    margin-left: 0px !important;
}

.caixa-integrado img {
    width: 33px;
    height: 33px;
}

.caixa-info img {
    width: 79px;
    height: 33px;
}

.nav-three {
    background-color: #0065b7;
    position: relative;
    left: -6px;
    bottom: 2px;
    font-size: 16px;
    padding: 0px 0px 0px 30px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.212);
    width: 570px;
    height: 30px;  
}

.bold {
    font-family: 'helvetica';
    font-size: 16px;
    font-weight: bold;
}

.nav-three a {
    opacity: 0.7;
}

.nav-three a:hover { 
    border-bottom: 1px solid #ffffffbe;
}

.nav-three li {
    margin-left: 8px;
    margin-right: 8px;
}

.arrow::after {     
    margin-left: 5px;
    width: 10px;
    height: 10px;
    content: '';
    background-image: url(imagens/bl_arrowMenuHome.png);
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    display: inline-block;
}

.conteiner {      
    padding: 50px 6%; 
    max-height: 550px !important;
}

.separator {
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumb {
    padding: 0px 0px 10px 0px  
}

.description { 
    font-size: 1.2rem;
    width: 40%;
    min-width: 324px;
}

.login {
    display: inline-block;
}

.login a {
    width: 205px;
    height: 44px;
    padding: 11px 0px 0px 21.5px;
    display: block;
    border-radius: 3px;
    background-color: #f7941e;  
}

/*Não consegui escurecer o botão... */
.login a:focus{
    box-shadow: inset 0.5px 0.5px 2px #000000;
}

.login a:hover {
    background-color: #ff9f2b;
}

.busca {
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    width: 284px;
    border-radius: none;
    margin-right: 100px;
    padding: 0px 0px 10px 20px;
    align-items: center;
}

input {
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline:none; /*Remove o contorno do campo quando nele é clicado */
}

::-webkit-input-placeholder {
    font-family: 'futura-lt-book';
    color: rgba(255, 255, 255, 0.664);
}

.busca button {
    width: 13px;
    height: 14px;
    position: relative;
    margin-right: 7px;
    top: 3px;
    background-image: url(imagens/gr_lupaBusca.png);
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    border: none;
}

.nav-four{  
    position: absolute;
    top: 84px;
    right: 5%;
}

.foto-auxilio-2021 {
    position: absolute;
    right: 5%;
    top: 195px;
}

.menu-responsive  {
    margin-top: 30px;
    margin-right: 24px;
    font-family: "futura-lt-book", sans-serif;
    font-size: 1.2rem;    
    float: right;
    visibility: hidden;
    display: block;
    width: 100px;
    height: 30px;
}

.menu-responsive span {
    position: relative;
    left: 55px;
    bottom: 23px;
    display: block;
    width: 25px;
    height: 5px;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 2px;
}

.conta, .logo-responsive {
    visibility: hidden;
    width: 0;
    height: 0;
}

.box-fixed {    
    padding: 30px 6%;
    background-color: #fff;
    width: 100%;
    min-height: 117px;
    max-height: 376px;
    border-bottom: 1px solid #c8cbd4;          
}  

.box-fixed a {
    margin-right: 2.5em;
    font-family: 'futura-lt-book';
    color: #7F8182;
    font-size: 17px;
    line-height: 1.80;
}

.box-fixed a:hover { 
    border-bottom: 1px solid #c8cbd49b;
}

.paragrafo {
    margin-left: 100px;  
}

.box-fixed ul {
    max-width: 1400px;
}

/*--------------------------------- SEÇÃO CONTENT ----------------------------------------- */

.content h2 {
    margin-bottom: 38px;
    font-family: 'futura-lt-bold';   
    font-size: 46px;
    color:#0066b3 ;
}

.content-div-5 h2 {
    width: 90%;
}

.content p {
    font-family: sans-serif; 
    color: #4C556C;
    font-size: 16px;
    max-width: 900px;
    line-height: 1.45;
    margin-bottom: 18px;    
}

.content li > p {
    margin-bottom: 8px;
    display: inline-block;
}

.content li  {
    display: block;
}

.content div {
    width: 100%;
    max-height:  1820px;
    padding: 40px 7% 40px 7%;
    border-bottom: 1px solid #c8cbd4;
}

.content li > p::before {
    content: "•";
    margin-right: 0.5em;
}

.content li > p:before {
    color: #B3B3AF;
}

.content .saiba-mais {
    padding: 7px 111px 0px 0px;
    border: none;    
}

.content-div-9 a{
    color: #006bae;
}

.saiba-mais a {    
    display: block;
    width: 150px;
    height: 46px;
    background-image: none;
    border: 1px solid #45c0ae;
    border-radius: 3px;
    color: #41485d;
    font-family: 'futura-lt-bold';
    font-size: 15px;
    text-align: center;
    padding: 12px 0px 0px 0px;
    font-weight:bold
}

.saiba-mais a:hover {
    color: #fff;
    border: 1px solid #000000;
    background: linear-gradient(to bottom, rgba(5,140,224,1) 0%,rgba(4,126,203,1) 100%);
}

.saiba-mais a:focus{
    box-shadow: inset 0.5px 0.5px 2px #000000;
    color: #fff;
    background: linear-gradient(to bottom, rgb(2, 80, 129) 0%,rgb(2, 80, 129) 100%);
}

.top-link  {
    font-family: 'futura-lt-book';
    position: absolute;
    margin-top: 20px;
    right: 17px;
    font-size: 17.5px;
    color: #1c62aa;
    visibility: hidden;
}

.top-link::before {
    content: "▲";
    display: inline-block;
    font-size: 0.7rem;
    margin: 0px 8px;
}

/* --------------------- ----------- SEÇÃO auxílio-services -------------------------------- */

.auxilio-services {
    padding: 100px 80px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-family: 'futura-lt-book';
    width: 100%;
    text-align: center;    
}

.auxilio-services div{ 
    display: inline-block;
    width: 538px;
    margin: 0 20px;
    max-height: 350px;
}

.tutorial-auxilio img {
   width: 222px;
}

.see-more { 
    font-family: "futura-lt-bold";
    color: #ff7200;
    font-weight: bold; 
}

.title-auxilio-services {
    font-family: "futura-lt-bold";
    font-weight: bold;
    font-size: 24.3px;
    color: #1f2a47;;
}

.phrase-auxilio-services {
    font-size: 15.7px;
    color: rgba(24, 27, 29, 0.781);     
    margin: 10px 0;
}

/*---------------------------- SEÇÃO APP-AUXILIO-EMERGENCIAL-INFO ------------------------ */

.app-auxilio-emergencial-info {
    background-color: #0065b7;
    padding: 40px 6%;
    max-height: 650px;
    color: #fff;
    font-family: "futura-lt-book";
}

.app-auxilio-emergencial-info h2{
    font-size: 46px;
    margin-bottom:10px ;
    font-family: "futura-lt-bold";
}

.app-auxilio-emergencial-info p {
    margin: 35px 0px 0px 0px;
}

.download-apps {
    margin: 80px 0px 0px 0px;
    display: inline-block;
    width: 45%;
}

.app-auxilio-responsive {
    display: flex;
    justify-content: space-between;
}

.button-store a {
    display: block;   
    padding: 7px 0px 0px 5px;
    width: 260px;
    height: 38px;
    border: 1px solid #68b7c8;
    border-radius: 3px;
    box-shadow: 0px 1.7px rgba(0, 0, 0, 0.096);
}

.play-store {
    margin-bottom: 36px;
}

.play-store a::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/f17b-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 15px;
    width: 11px;
    height: 15px;
}

.app-store a::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/apple\ png\ icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 15px;
    width: 15px;
    height: 15px;
}

.box-image {
    width: 45%;
}

.app-auxilio-emergencial-info img{
    height: 460px;
    width: 460px;
    display: inline-block ;
}

.top-link-two  {
    visibility: hidden;
    position: absolute;
    right: 17px;
    font-size: 17.5px;
    color: #ffffff;
}

.top-link-two::before {
    content: "▲";
    display: inline-block;
    font-size: 0.7rem;
    margin: 0px 8px;
}

/*--------------------------------SEÇÃO CANAIS-ATENDIMENTO------------------------------------ */

.canais-atendimentos {
    padding: 40px 6%;
    max-height: 528px;
    border-bottom: 1px solid #c8cbd4;
}

.canais-atendimentos h2 {
    font-size: 46px;
    color: #0066b3;
    font-family: "futura-lt-bold";
}

.canais-atendimentos-responsive {
    font-family: "futura-lt-book";
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #d3d6e2;
}

.canais-atendimentos-responsive div {
    padding: 50px 20px 20px 20px;
    display: inline-block;
    line-height: 1.8rem;
    text-align: center;
    width: 25.77%;
    min-height: 270px;
}

.box-1 {
    border-right:  1px solid #d3d6e2;
}

.box-2 {
    border-right:  1px solid #d3d6e2;
}

.box-3 {
    border-right:  1px solid #d3d6e2;
}

.canais-atendimentos-responsive a {
    display: block;
}

.canais-atendimentos h3 {
    font-weight: 300;
    color: #1F2A47;
}

.canais-atendimentos span {      
    color: #4c546d;
}

.box-celular img{
    width: 53px;
}

.canais-atendimentos-responsive img {
    margin: 15px 0;
}

/*-----------------------------------RODA PÉ(comunicacao)----------------------------------*/
footer {
    padding: 120px 6% 0px 6%;
}

.comunicacao {
    font-family: helvetica; 
}

.comunicacao a {
    color: #616971;
}

.row-1 {
    display: flex;
}

.row-1 ul {
    margin-right: 10px;
    width: 403px;
}

.row-1 li {
    display: block;
}

.telefone {
    display: inline-block;
    line-height: 1.9rem;
}

.telefone li {
    margin-bottom: 16px;
}

.phone {
    font-family: "futura-lt-book";
    font-size: 21px;
    color: #0066b3;
}

.setor {
    color:#abb0b4;
}

.canais {
    min-height: 232px;
    display: inline-block;
    font-family: helvetica;
    font-size: 16px;
}

.canais > li {
    line-height: 2.0rem;
    margin-bottom: 10px;
}

.canais-more > li {
    line-height: 2.0rem;
    margin-bottom: 10px;
}

.redes-socias a { 
    align-items: center;
    line-height: 2.0rem;
    margin-bottom: 10px;
    display: flex;
}

.redes-socias img {
    display: inline-block;
    height: 20px;
    margin-right: 6px;
}

.youtube img {
    height: 22px;
    margin-right: 5px;
}

.instagram img {
    height: 16px;
    margin-right: 10px;
    margin-left: 3px;
}

.comunicacao a:hover { 
    border-bottom: 1px solid #c8cbd49b;
}

.redes-socias a:hover { 
    border-bottom:none;
}

.row-2 {   
    font-size: 15px;
    display: flex;
    justify-content:center;
    background-color: #f3f8f891;
    padding: 80px 0px 50px 0px;
}

.row-2 li {
    margin: 20px 10px;
}

/*--------------------------------------RESPONSIVIDADE-------------------------------- */        
@media (max-width:1423px){

    .conteiner {
        padding: 50px 20px; 
    }

    .conteiner h1 {
        line-height: 1.2em;
    }

    .nav-list1 {
        visibility: hidden;
    }

    .logo {
        left: -38px;
    }

    .nav-three {
        padding: 0;
        width: 515px;
        font-size: 15px;
        left: -2;
    }

    .bold {
        font-size: 15px;
    }

    .nav-main {
       margin-left: 60px;
    }

    .busca {
        width: 223px;
        margin-right: 20px;
    }

    .responsive-right {
        right: 1.5%;
    }

    .auxilio-services {
        padding: 100px 20px;
    }
}

@media(max-width:1317px) {

    .content div{
        padding: 40px 40px 40px 20px;
    }

    .app-auxilio-emergencial-info {
        padding: 40px 13px;
    }

    .canais-atendimentos {
        padding: 40px 20px;
    }

    footer {
        padding: 80px 20px 0px 20px;
    }
}

@media(max-width:1070px) {

    .conteiner > h1 {
        font-size: 3.252rem;
    }

    .canais-atendimentos-responsive  {
        align-items: center;
        flex-wrap: wrap;
    }

    .canais-atendimentos-responsive div  {
        padding: 20px 10px 0px 20px;
        text-align: left;
        width: 50%;
        min-height: 135px;
        max-height: 154px;
    }

    .box-1 {
        border-bottom: 1px solid #d3d6e2 ;
    }

    .box-2 {
        border-bottom: 1px solid #d3d6e2;
        border-right: none;
    }

    .box-celular img{
        width: 34px;
        height: 35px;
    }

    .box-2 img {
        width: 34px;
        height: 40px;
    }

    .box-4 img {
        width: 34px;
        height: 44px;
    }

    .canais-atendimentos-responsive img  {
        margin-right: 20px;
        margin-bottom: 35px;
        float: left;
    }
}

@media(max-width:1030px) {

    .box-image img {
        width: 99%;
        height: 99%;
    }

    .app-auxilio-emergencial-info p {
        width: 50%;
        
    }

    .row-2 {
        flex-wrap: wrap;
    }
}

@media (max-width:669px) {
    .auxilio-services  {
        padding: 0 0px;
        max-height: 1050px;
        height: 100%;
        display: block;
    }

    .auxilio-services div {
        margin: 0px 0px;
        padding: 100px 0px 20px 10px;   
        width: 100%;
        border-bottom: 1px solid #c8cbd4;
    }

    .see-more {
        display: block;
        margin-bottom: 20px;
    }

    .auxilio-services img {
        float: left;
        margin-right: 10px;
        margin-bottom:32px ;
    }

    .tutorial-auxilio img {
        margin-right: 0px !important;
    }

    .tutorial-auxilio {              
        border-bottom: none !important; 
        padding: 100px 0px 100px 3px !important;
    }

    .phrase-auxilio-services {
        padding: 0px 5px 0px 0px;
    }
}

@media(max-width:1040px) {

    .nav-two,.nav-three,.busca {
        visibility: hidden;
    }

    .nav-four {
        max-width: 1040px;
    }

    .login a{
        position: absolute;
        right: 80%;
        bottom: 1px;
    }

    .menu-responsive {
        visibility: visible;
    }
     
    .nav-one {
        background-color:#0065b7;
        height: 130px;
    }

    .auxilio-services img {
        width: 95px;
    }

    .tutorial-auxilio img {
        width: 100px !important;
    }

    .auxilio-services {    
        text-align: left;
    }
}

@media (max-width:600px) {

    .logo, .login {
        visibility: hidden;
    }

    .nav-one,.nav-main,.nav-list1,.nav-two, .nav-list2,.nav-list3,.nav-three,.nav-list4,.nav-four,.busca
     {
        visibility: hidden;
        width: 0;
        height: 0;
    }          

    .header-responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 600px;
        height: 70px;
        background-color: #ffffff;
        margin-bottom: 30px;
    }


    .conteiner h1 {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }

    .description {
        font-size: 0.88rem;
        width: 324px;
        margin: auto;
        text-align: center;
        line-height:30px
    }

    .conteiner {
        padding: 35px 20px; 
    }

    .menu {
        min-height: 500px;
    }

    .menu > img {
        width: 300px;
        height: 120px;
        top: 330px;
        right: 19%;
    }

    .menu-responsive {
        margin-top: 6px;
        margin-right: 0px;
        color: #006bae;
   }

    .menu-responsive span {
        border-bottom: 3px solid #006bae;
    }

    .conta {
        padding: 20px 0px 0px 46px;
        visibility: visible;
        display: inline-block; 
        background-color: #f7941e; 
        width: 160px;        
        height: 70px;
    }

    .conta::after {       
        margin-left: 5px;
        width: 20px;
        height: 20px;
        content: '';
        display: inline-block;
        background-image:url(imagens/cadeado.png) ;
        background-repeat: no-repeat;
    }

    .logo-responsive {   
        margin-left: 5px;
        padding: 21px 0px 0px 0px;
        visibility: visible;
        width: 100px;
        height: 70px;
    }

    .box-fixed {
        line-height: 3.50;
        padding: 30px 0px 30px 20px;  
        background-color: #f3f4f7;
        height: 648px;
        max-height: 653px;
    }

    .box-fixed li {
        display: block;
    }

    .box-fixed a {
        color: #1c62aa;  
    }

    .paragrafo {
        margin: 0;
    }

    .content h2 {
        font-size: 31px;
    }

    .top-link {
        visibility: visible;
    }

    .app-auxilio-emergencial-info h2 {
        font-size: 31px;
        width: 85%;
    }

    .app-auxilio-emergencial-info p {
        width: 90%;
    }

    .download-apps {
        margin: 40px 0px 0px 0px;
    }

    .app-auxilio-emergencial-info img {
        visibility: hidden;
    }

    .top-link-two {
        visibility: visible;
    }

    .canais-atendimentos h2 {
        font-size: 31px;
    }

    .canais-atendimentos-responsive {
        border: none;
    }

    .canais-atendimentos-responsive div {
        padding: 0;
        width: 100%;
        min-height: 97px;
        border: none;
    }

    .canais-atendimentos-responsive img {
        margin-bottom: 0;
    }

    .row-1 {
        flex-wrap: wrap;
    }

    .row-1 ul {
        margin-bottom: 30px;
    }

    .row-1 .redes-socias {
        margin-bottom: 20px;
    }

    .row-2 { 
        min-height: 280px;
        padding: 40px 0px 20px 0px;
        display: block;
    }

    .row-2 li {
        display: block;
        margin: 20px 0px;
    }
}
